<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compte Courant - Accueil</title>
</head>
<body>
    <h1>Gestion du Compte Courant</h1>
    <ul>
        <li><a href="/courant/create">Créer un compte</a></li>
        <li><a href="/courant/deposit">Effectuer un dépôt</a></li>
        <li><a href="/courant/withdraw">Effectuer un retrait</a></li>
        <li><a href="/courant/balance">Consulter le solde</a></li>
        <li><a href="/courant/transactions">Voir les transactions</a></li>
    </ul>
    <a href="/">Retour à l'accueil</a>
</body>
</html>

