<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compte Prêt - Accueil</title>
</head>
<body>
    <h1>Gestion du Compte Prêt</h1>
    <ul>
        <li><a href="/pret/create">Créer un prêt</a></li>
        <li><a href="/pret/repayment">Effectuer un remboursement</a></li>
        <li><a href="/pret/balance">Consulter le solde restant</a></li>
        <li><a href="/pret/repayments">Voir les remboursements</a></li>
    </ul>
    <a href="/">Retour à l'accueil</a>
</body>
</html>

